.nav h6 {
	padding-left: 20px;
}

.icon .fa-cubes {
	font-size: 30px;
}

.nav {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	justify-content: flex-end;
}

.hello h1, .name1 h1 {
	font-family: 'Oswald', sans-serif;
}

.hello1 {
	margin-top: 130px;
}

.bottom {background-color: yellow;
margin-top: 30px;
font-family: 'Montserrat', sans-serif;
width: 150px;
padding-left: 20px;
padding-right: 20px;
padding-top: 8px;
padding-bottom: 8px;
font-size: 12px;
}

.bottom a {
	text-decoration: none;
	color: black;
}

.bottom a:hover {
	color: black;
	text-decoration: none;
	text-shadow: 0 0 7px red;
	transition: 0.2s;
}

.bottom:hover {
	box-shadow: 0 0 15px 5px lightgrey; 
}

.img1 img{
	width: 100%;
margin-top: 50px;
justify-content: flex-end;
}

.name1 {
	margin-top: 70px;
	margin-bottom: 40px;
}

.nav2 .nav  {
	justify-content: flex-start;
}

.nav2 .nav h6 {
	padding-left: 0;
	padding-right: 30px;
text-align: center;
}

.icon2 {
	justify-content: flex-end;
}

.fa-angle-down {
	margin-left: 10px;
}

.all1 {
	background-color: yellow;
	width: 60px;
	height: 30px;
}

section {
	margin-top: 50px;
}
.art1 {
	background-color: yellow;
	padding: 90px;
	text-align: center;
	}

.art1 h2 {
	font-family: font-family: 'Oswald', sans-serif;
	font-weight: 750;
}

.art1 h6, .foot1 h6 {
font-family: 'Montserrat', sans-serif;	
}

.img2 img, .img3 img, .img4 img, .img5 img{
	width: 100%;
}

.img4 {
	margin-top: -100px;
}

.img5 {
	margin-top: 150px;
}

.foot1 {
	background-color: yellow;
	width: 240px;
	margin-top: 80px;
	padding: 15px;
	text-align: center;
}