header {
	width: 100%;
}

hr {
	margin-top: 0;
}

.section1 {
	border: 1px solid lightgrey;
		}

section {
		margin-bottom: 30px;
		}

.item1 {
	border: 1px solid lightgrey;
	background-color: lightgrey;
	}

.item1-3 {
	border: 1px solid lightgrey;
	width: 95px;
	text-align: center;
	padding: 4px;
	margin-top: 7px;
}
 .item1-3 a {
	color: black;
	text-decoration: none;
}

.item1-3:hover {
	background-color: lightgrey;
}

h4 {
	padding: 10px;
	padding-left: 25px;
}

.item1-2 {
 padding: 7px;
 }

img {
	width: 100%;
}
